@media (min-width: 1920px) {
  .designheading > p {
    font-size: 75px;
  }
  .lorem {
    font-size: 20px;
  }

  .navbar > img {
    width: 40px;
    height: 40px;
  }
  .navbar p {
    font-size: 35px;
  }
  #btnexplore {
    width: 180px;
    height: 76px;
    font-size: 45px;
  }
}
@media (min-width: 2561px) {
  .designheading > p {
    font-size: 120px;
  }
  .lorem {
    font-size: 40px;
  }
}

/* 1561 */
@media (max-width: 1561px) {
  .fulldiv {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    padding-top: 40px;
  }
  .designheading {
    font-size: 64px;
    padding-top: 70px;
    padding: 40px 40px;
  }
  .lorem {
    font-size: 18px;
  }
  .explore {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .navbar {
    padding-bottom: 50px;
    padding: 20px 20px;
  }
  #btnexplore {
    width: 200px;
    font-size: 20px;
    height: 50px;
  }
  .paragraph {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .our {
    font-size: 50px;
  }
  .history {
    font-size: 50px;
  }

  .firstdiv img {
    padding-right: 0px;
  }
  .readmore {
    width: 28%;
    margin: 0 auto;
    justify-content: center;
  }
}

/* 1500 */
@media (max-width: 1500px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* 1361 */

@media (max-width: 1361px) {
  .designheading {
    font-size: 50px;
    padding-top: 50px;
  }
  .lorem {
    padding-top: 40px;
    font-size: 16px;
  }
  .explore {
    padding-top: 40px;
  }
  #btnexplore {
    width: 200px;
  }
  .paragraph > p:first-child {
    font-size: 50px;
  }
  .readmore {
    width: 37%;
    margin: 0 auto;
    justify-content: center;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }
}

/* 1350 */
@media (max-width: 1350px) {
  .thirdfooterdiv {
    display: none;
  }
  .footer {
    justify-content: space-around;
  }
}

/* 1236 */

@media (max-width: 1361px) {
  .designheading {
    font-size: 40px;
    padding-top: 40px;
  }
  .lorem {
    font-size: 10px;
  }
  .explore {
    padding-top: 50px;
  }
}

/* 1023 */
@media (max-width: 1023px) {
  .container {
    display: block;
    font-size: 15px;
  }

  .firstsectioncontainer {
    display: block;
  }
  .sectionleftdiv {
    width: 100% !important;
  }

  .leftdiv {
    width: 100%;
  }
  .rightdiv {
    width: 100%;
  }
  .sectionleftdiv {
    width: 100%;
    text-align: center;
  }
  .sectionrightdiv {
    width: 100%;
    text-align: center;
  }
  .secondleftsecdiv {
    width: 100%;
  }
  .designheading {
    text-align: center;
    padding-top: 90px;
  }
  .explore {
    text-align: center;
    padding-left: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #btnexplore {
    font-size: 20px;
    width: 200px;
  }
  .lorem {
    font-size: 15px;
  }
  .seconddiv {
    bottom: 320px;
  }
  .firstdiv img {
    width: 100%;
  }
  .secondseccontainer {
    display: block;
  }
  .secondleftsecdiv {
    width: 100%;
  }
  .secondleftsecdiv img {
    width: 100%;
  }
  .secondrightseccdiv {
    width: 100%;
  }
  .secondrightseccdiv img {
    width: 100%;
  }
  .readmore {
    width: 21%;
    margin: 0 auto;
    justify-content: center;
  }
  .sgastler_rightdiv > p {
    font-size: 14px;
  }
}

/* 870 */
@media (max-width: 870px) {
  .readmore {
    width: 37%;
    margin: 0 auto;
    justify-content: center;
  }
  .sgastler {
    display: block;
    margin-top: 50px;
  }
  .sgastler_leftdiv {
    width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .sgastler_rightdiv {
    width: 90%;
    margin: 0 auto;
  }
  .socialicons {
    justify-content: center;
  }
}

/* 770 */
@media (max-width: 770px) {
  .footer {
    display: block;
    padding-top: 100px;
  }
  .firstfooterdiv {
    /* width: 90%; */
    margin: 0 auto;
    text-align: center;
  }
  .secondfooterdiv {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
  }
  .footericonssocialsite {
    justify-content: space-around;
  }
  .firstsectioncontainer {
    padding-top: 130px;
  }
}

/* 610 */

@media (max-width: 610px) {
  .designheading {
    font-size: 35px;
  }
  .readmore {
    width: 45%;
    margin: 0 auto;
    justify-content: center;
  }
}

/* 440 */

@media (max-width: 610px) {
  .readmore {
    width: 65%;
    margin: 0 auto;
    justify-content: center;
  }
}
