*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}


.sgastler{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    margin-top: 200px;
    padding-bottom: 50px;
}


.s_gastler_heading p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.sgastler_rightdiv>p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.sgastler_leftdiv {
    width: 341px;
    position: relative;
}
#rectangle{
    position: absolute;
    top: 12px;
    left: 13px;
}
.sgastler_rightdiv{
    width: 615px;
}
.sgastler_leftdiv img {
    width: fit-content;
}







.socialicons{
    display: flex;
    align-items: center;
    padding-top: 27px;
}
.icons{
    padding-left: 15px;
}
.facebookicon{
    display: flex;
    align-items: center;
    background-color: #3B5998;
    border-radius: 11px;
    /* width: 131px; */
    font-size: 14px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 30px ;
    




}
.facebookicon:hover{
    box-shadow: -1px 1px 15px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 15px 1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 15px 1px rgba(0,0,0,0.75);
}
.facebookicon>p{
    padding-left: 17px;
}
.carousalmaster{
    display: flex;
}
.star{
    display: flex;

}
.star img{
    width: 20px !important;
    height: 20px;
}




.owl-nav{
    position: relative;
}
.owl-prev{
    position: absolute;
    left: 100px;
    bottom: 220px;
}
.owl-next{
    position: absolute;
    right: 100px;
    bottom: 220px;
}









footer{
    background-color:#1C6DD0 ;
    display: flex;
}

.footer{
    margin: 0 auto;
    width: 1465px;
    display: flex;
    padding: 137px 0px;
    justify-content: space-between;
}
.links{
    display: flex;
    gap: 2.19rem;
    
}
.rkinternational2{
    padding-bottom: 44px;
}
.firstfooterdiv>p:nth-child(2){
    color: white;
    padding-bottom: 78px;
}
#contact_number{
    padding-top: 78px;
}
#RK2{
    color: #FED1EF;
}
#international2{
    color: #FFFFFF;
}
.secondfooterdiv{
    max-width: 245px;
}
.useful_links{
    line-height: 1.5em;
}
.useful_links h4{
    padding-bottom: 46px;
    color: white;
}
.useful_links li{
    color: white;
}
.policy_links h4{
    padding-bottom: 46px;
}
.footer_social_icons{
    padding-top: 37px;
}
.footer_social_icons a:not(:first-child){
    padding-left: 10px;
}
.firstfooterdiv{
    max-width: 409px;
}
.paragraph21{
    padding-top: 27px;
    line-height: 1.5em;
}
.paragraph21>p:first-child{
    color: white;
}
.policy_links{
    color: white;
    line-height: 1.5em;
}
.paragraph21>p:last-child{
    color: #FF00D5;
}



.thirdfooterdiv{
    width: 555px;
    background-color: white ;
    border-radius: 16px;
}
.name_email>h2{
    font-size: 32px;
    color: #1C6DD0;
}
.name_email{
    padding: 40px 40px;
}
.name_email input{
    width: 100%;
    padding: 32px 37px;
    border-radius: 14px;
    border: 1px solid #707070;
    outline: none;
    
}
#nameinput{
    margin-bottom: 14px;
    margin-top: 37px;
    width: 100%;
}
.name_email button{
    width: 170px;
    height: 51px;
    font-size: 20px;
    background-color: #FED1EF;
    color: #1C6DD0;
    border: none;
    font-weight: 800;
    margin-top: 16px;
    cursor: pointer;
}